# Jars
*.jar

# Folders
cache/
versions/
libraries/
logs/

# Worlds
world/
world_nether/
world_the_end/

# Miscellaneous JSON and YML files
.console_history
banned-ips.json
banned-players.json
commands.yml
eula.txt
help.yml
ops.json
permissions.yml
usercache.json
version_history.json
whitelist.json
map-color-cache.dat

# Plugin Folders
plugins/.paper-remapped

plugins/GSit/data/
plugins/GSit/lang/

plugins/SkinsRestorer/cache/
plugins/SkinsRestorer/cooldowns/
plugins/SkinsRestorer/locales/
plugins/SkinsRestorer/players/
plugins/SkinsRestorer/skins/
plugins/SkinsRestorer/recommendations.json
plugins/ImageFrame/data
plugins/ImageFrame/players
plugins/ResourcePackManager/output
plugins/TAB/animations.yml
plugins/TAB/messages.yml
plugins/TAB/users.yml
plugins/LuckPerms/translations
plugins/LuckPerms/libs
plugins/HuskHomes/messages-tr-tr.yml
plugins/HuskHomes/HuskHomesData.db
plugins/HuskHomes/HuskHomesData.db.bak
plugins/GriefPreventionData/ClaimData
plugins/GriefPreventionData/Logs
plugins/GriefPreventionData/PlayerData
plugins/GriefPreventionData/bannedWords.txt
plugins/GriefPreventionData/_schemaVersion
plugins/AuthMe/*
!plugins/AuthMe/config.yml
!plugins/AuthMe/messages/
!plugins/AuthMe/messages/*
plugins/AdvancedBan/data
plugins/AdvancedBan/logs
plugins/AdvancedBan/Layouts.yml
plugins/DatapackLoader/datapacks
plugins/ResourcePackManager/*
!plugins/ResourcePackManager/config

